/* This is the main CSS that includes other CSS files. */
/* ---------- Browser normalization ---------- */
/* ---------- Links ---------- */
/* ---------- Headers ---------- */
/* ---------- HTML Editor ---------- */
/* ---------- Text formatting ---------- */
/* ---------- Main content body ---------- */
/* ---------- Alerts and popups ---------- */
/* ---------- Portal add content ---------- */
/* ---------- Loading animation ---------- */
/* ---------- Separator ---------- */
/* ---------- Update Manager ---------- */
/* ---------- Text highlighting ---------- */
/* ---------- Main ---------- */
/* ---------- Dragging/sorting indicators ---------- */
/* ---------- Portal tool tips ---------- */
/* ---------- Tags ---------- */
/* ---------- Tag cloud and tag list ---------- */
/* ---------- Underlay ---------- */
/* ---------- Tabs ---------- */
/* ---------- Misc. ---------- */
/* ---------- Menus ---------- */
/* ---------- Toolbar ---------- */
/* ---------- Loading Mask ---------- */
/* ---------- Tree View ---------- */
/* ---------- Page Customization ---------- */
/* ---------- Pagination ---------- */
/* ---------- Header row ---------- */
/* ---------- Wrapper ---------- */
/* ---------- Column widths ---------- */
/* ---------- Staging Dockbar ---------- */
/* ---------- Menus ---------- */
/* ---------- Customization Bar ---------- */
/* ---------- Main navigation ---------- */
/* ---------- Add/remove page ---------- */
/*------ Navigation portlet ------*/
/* ---------- Page template selector ---------- */
/* ---------- Portlet wrapper and icons ---------- */
/* ---------- Borderless portlet ---------- */
/* ---------- Panel Page ---------- */
/* ---------- Standard styles defined in the JSR 168 ---------- */
/* ---------- Fonts ---------- */
/* ---------- Font attributes for the 'normal' fragment font ---------- */
/* ---------- Font attributes similar to the .portlet-font but the color is lighter ---------- */
/* ---------- Messages ---------- */
/* ---------- Status of the current operation ---------- */
/* ---------- Help messages, general additional information, etc. ---------- */
/* ---------- Error messages ---------- */
/* ---------- Warning messages ---------- */
/* ---------- Success messages ---------- */
/* ---------- Message labels ---------- */
/* ---------- Sections ---------- */
/* ---------- Table or section header ---------- */
/* ---------- Normal text in a table cell ---------- */
/* ---------- Text in every other row in the cell ---------- */
/* ---------- Text in a selected cell range ---------- */
/* ---------- Text of a subheading ---------- */
/* ---------- Table or section footnote ---------- */
/* ---------- Text that belongs to the table but does not fall in one of the other categories (e.g. explanatory or help text that is associated with the section) ---------- */
/* ---------- Forms ---------- */
/* ---------- Text used for the descriptive label of the whole form (not the labels for fields) ---------- */
/* ---------- Text of the user-input in an input field ---------- */
/* ---------- Text on a button ---------- */
/* ---------- Text that appears beside a context dependent action icon ---------- */
/* ---------- Text that appears beside a 'standard' icon (e.g. Ok, or Cancel) ---------- */
/* ---------- Text for a separator of fields (e.g. checkboxes, etc.) ---------- */
/* ---------- Text for a field (not input field, e.g. checkboxes, etc.) ---------- */
/* ---------- Menus ---------- */
/* ---------- General menu settings such as background color, margins, etc. ---------- */
/* ---------- Normal, unselected menu item ---------- */
/* ---------- Selected menu item ---------- */
/* ---------- Normal, unselected menu item when the mouse hovers over it ---------- */
/* ---------- Selected menu item when the mouse hovers over it ---------- */
/* ---------- Normal, unselected menu item that has sub-menus ---------- */
/* ---------- Selected sub-menu item that has sub-menus ---------- */
/* ---------- Descriptive text for the menu (e.g. in a help context below the menu) ---------- */
/* ---------- Menu caption ---------- */
/* ---------- Miscellaneous portlet styles ---------- */
/* ---------- Permissions ---------- */
/* ---------- Miscellaneous component styles ---------- */
/* ---------- Add content dialog ---------- */
/* ---------- Actions button ---------- */
/*------ Breadcrumbs taglib ------*/
/* ---------- Calendar taglib ---------- */
/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */
#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#breadcrumbs {
  clip: rect(0 0 0 0);
  position: absolute; }

body {
  background-color: #EEF0F2; }

#heading,
#content,
#navigation ul {
  min-width: 960px;
  max-width: 90%;
  margin: auto; }

#heading img {
  box-shadow: 2px 2px 10px 1px #656565;
  margin-left: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: white; }

#navigation .selected a,
#navigation li.hover a,
#navigation a:hover,
#navigation a:focus,
#navigation .child-menu li a,
#navigation .yui3-dd-dragging,
.lfr-navigation-proxy {
  color: #FFF;
  outline: 0;
  text-shadow: -1px -1px black; }

#navigation {
  background: url("../images/nav-bg.png") repeat-x;
  height: 50px; }

#navigation a {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none; }

#navigation li {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px; }

#navigation li:hover {
  background: #272526; }

#navigation li.selected {
  background: #272526;
  box-shadow: inset 0 1px 8px black; }

#navigation ul {
  list-style: none;
  margin: auto;
  padding: 6px; }

.portlet-topper {
  background: #d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;
  border: 1px solid;
  border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
  font-size: 1.1em; }

#sign-in {
  background: url(../images/common/key.png) no-repeat 3px 50%;
  float: right;
  padding: 5px 5px 5px 25px;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  color: black; }

